.about-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
